@import '../../../shared_classes.scss';
@import '../../../variables.scss';

.product-card-wrapper {
  padding: $grid-spacing-large;
  background-color: $white;
  border: 1px solid $light-yellow;
  border-radius: $border-radius;
  width: 280px;
  height: 230px;
}

.product-img {
  margin-bottom: $grid-spacing-small;
}

.product-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $grid-spacing-small;
}

.product-content {
  display: flex;
  flex-direction: column;
}

.product-ctas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button:first-of-type {
    margin-right: $grid-spacing-small/2;
  }
}